<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hs.providerservice.dao.BookDao">
    <resultMap id="book" type="cn.hs.pojo.EbookEntry">
        <id column="id" property="id"/>
        <result column="categoryId" property="categoryId"/>
        <result column="title" property="title"/>
        <result column="summary" property="summary"/>
        <result column="uploadUser" property="uploadUser"/>
        <result column="createDate" property="createDate"/>
        <association property="ebook_category" javaType="cn.hs.pojo.EbookCategory">
            <id column="id" property="id"/>
            <result column="name" property="name"/>
        </association>
    </resultMap>
    <select id="getAll" resultMap="book">
        SELECT * FROM ebook_entry order by id desc
    </select>
    <select id="selId" resultMap="book">
        SELECT * FROM ebook_entry where id=#{id}
    </select>
    <delete id="del">
        delete from ebook_entry where id=#{id}
    </delete>
    <insert id="add">
        insert into ebook_entry values(null,#{categoryId},#{title},#{summary},#{uploadUser},#{createDate})
    </insert>
    <update id="upd">
        update ebook_entry set categoryId=#{categoryId},title=#{title},summary=#{summary},uploadUser=#{uploadUser},createDate=#{createDate} where id=#{id}
    </update>
</mapper>